@import "mixin.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
    header {
        width: 100%;
        height: pxTorem(44px);
        background: #F2F2F2;
        @include box_flex;
        @include align(center);
        padding: pxTorem(0px) pxTorem(10px);
        @include sizing;
        @include justify(space-between);
        color: #666666;
        font-size: pxTorem(13px);
        .iconfont {
            font-size: pxTorem(15px);
        }
    }
    section {
        @include flex;
        width: 100%;
        overflow: hidden;
        .swiper-container {
            width: 100%;
            height: 100%;
            .swiper-wrapper {
                width: 100%;
                height: 100%;
                .swiper-slide {
                    width: 100%;
                    height: 100%;
                    background: #FFF;
                    @include box_flex;
                    overflow: hidden;
                    .leftslide {
                        width: 25%;
                        height: 100%;
                        overflow: hidden;
                        border-right: 1px solid rgb(0, 0, 0);
                        .list {
                            width: 100%;
                            height: 100%;
                            .fontd {
                                font-size: pxTorem(15px);
                                color: #FB7D34;
                            }
                            li {
                                width: 100%;
                                height: pxTorem(50px);
                                @include box_flex;
                                @include align(center);
                                @include justify(center);
                                background: #FEFEFE;
                            }
                        }
                    }
                    .rightslide {
                        @include flex;
                        @include box_flex;
                        @include direction(column);
                        .rightslide_next {
                            width: 100%;
                            height: 100%;
                            @include box_flex;
                            @include flexWrap(wrap)
                        }
                        h1 {
                            width: 100%;
                            @include box_flex;
                            @include align(center);
                            @include justify(center);
                            height: pxTorem(30px);
                            margin-top: pxTorem(10px);
                        }
                        span {
                            font-size: pxTorem(15px);
                        }
                        dl {
                            width: 25%;
                            @include box_flex;
                            @include align(center);
                            height: pxTorem(100px);
                            @include sizing;
                            @include direction(column);
                            padding: 0 pxTorem(10px);
                            margin-left: pxTorem(17px);
                        }
                    }
                }
            }
        }
    }
}